<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="masterpages/pagedashboard">


    <div layout:fragment="precontent"> 
    </div>

    <div layout:fragment="content">
        <br />
        <div class="container">

            <form th:action="@{/dashboard/escolher-praca}" method="get" class="form-horizontal text-right">

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Busque a praça esportiva desejada" />
                        <span class="input-group-btn">
                            <button class="btn btn-deafult" type="submit">Buscar</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Descriçao</th>
                        <th>Endereço</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="praca : ${pracas}">
                        <td><img src="https://image.flaticon.com/icons/svg/451/451901.svg" width="50" /></td>
                        <td th:text="${praca.nome}"></td>
                        <td th:text="${praca.descricao}"></td>
                        <td th:text="${praca.localIdlocal.rua + ', ' + praca.localIdlocal.numero + ' - ' + praca.localIdlocal.cidade + '-' + praca.localIdlocal.estado}"></td>
                        <td><a class="btn btn-sm btn-info" th:href="${'/dashboard/reservas?praca=' + praca.pracaesportivaId}">Selecionar praça</a></td>
                    </tr>
                </tbody>
            </table>
        </div>      
    </div>


</div>