<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="pt-BR">
    <head>
        <title>Previtale Reservas</title>
        <link th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css' />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <!-- Custom Theme files -->
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--webfont-->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css' />
        <script th:src="@{/js/responsiveslides.min.js}"></script>
        <script>
            $(function () {
                $("#slider").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    pager: true,
                });
            });

        </script>
    </head>
    <body>
        <div th:replace="fragments/layout/header :: header"></div>

        <div layout:fragment="precontent"></div>
        
        <div class="content" layout:fragment="content"></div>

        <div th:replace="fragments/layout/footer :: footer"></div>
    </body>
</html>