<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="masterpages/page">




    <div layout:fragment="content">
        <div class="about-page">
            <div class="container">
                <div class="content-gear">
                    <h3>Sobre nós</h3>
                    <p>Chaim reservas trata-se de um sistema de reservas de quadras que permite um gerenciamento melhor e mais prático de horários de praças esportivas</p>
                </div>
                <div class="gear-content">
                    <h3>Praticidade</h3>

                    <div class="gear-grid">
                        <div class="col-md-4 gear-grids">
                            <label class="icon-grid" > </label>
                            <div class="inner-gear">
                                <h5><a href="#">Stacked (Double Wall)</a></h5>
                                <p>The next generation of DoubleWall, Stacked Composite, optimizes multiple walls separated by DeMarini Power Ply for the biggest sweet </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="col-md-4 gear-grids">
                            <label class="icon-grid icon" > </label>
                            <div class="inner-gear">
                                <h5><a href="#">TR3 F.L.O. BARREL</a></h5>			
                                <p>This year, we fused the layers of carbon to create a stronger barrel with less weight. This allows us to distribute the bat weight evenly throughout the bat. A more balanced bat produces faster bat speeds so </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="col-md-4 gear-gridsn">
                            <label class="icon-grid grid-icon" > </label>
                            <div class="inner-gear">
                                <h5><a href="#">Big "D" End Cap</a></h5>
                                <p>The next generation of DoubleWall, Stacked Composite, optimizes multiple walls separated by DeMarini Power Ply for the biggest sweet </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="our-grid">
                <div class="container">
                    <h3>Criadores</h3>
                    <div class="do-the">
                        <div class=" col-md-6 the-do">
                            <ul>
                                <li>Juan Nogueira</li>
                                <li>Vinicius Chain</li>
                                <li>Fernando</li>
                                <li>Andre</li>
                            </ul>					
                        </div>  
                        <div class="col-md-6 grid-img">
                            <img class="img-responsive" src="images/me1.jpg" alt=" " />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>