<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="masterpages/page">


    <div layout:fragment="precontent"></div>

    <div layout:fragment="content">
        <div class="content">
            <div>
                <br />
                <div class="container">
                    <div class="contact-form">
                        <h2>Entre em contato</h2>
                        <form method="post" action="" class="left_form">
                            <div>
                                <span><label>Nome</label></span>
                                <span><input name="userName" type="text" class="textbox" /></span>
                            </div>
                            <div>
                                <span><label>E-mail</label></span>
                                <span><input name="userEmail" type="text" class="textbox" /></span>
                            </div>
                            <div>
                                <span><label>Telefone</label></span>
                                <span><input name="userPhone" type="text" class="textbox" /></span>
                            </div>
                        </form>
                        <form class="right_form">
                            <div>					    	
                                <span><label>Assunto</label></span>
                                <span><textarea name="userMsg"> </textarea></span>
                            </div>
                            <div>
                                <span><input type="submit" value="Enviar" class="myButton" /></span>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                    <div class="content_bottom">
                        <div class="company_address">
                            <h2>Endereço</h2>
                            <p>Rua Arlindo Béttio, 1000 - Jardim Keralux, , </p>
                            <p>03828-000</p>
                            <p>São Paulo - SP</p>
                            <p>Campus: USP Leste</p>
                        </div>
                        <div class="contact_info">
                            <h2>Estamos por aqui</h2>
                            <div class="map">
                                <iframe width="100%" height="185" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.400346060688!2d-46.502680085560094!3d-23.48208528472233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce6040e389220d%3A0xa1fd2f073b87bdea!2sUniversidade+de+S%C3%A3o+Paulo%2C+Campus+Leste+-+Escola+de+Artes%2C+Ci%C3%AAncias+e+Humanidades!5e0!3m2!1sen!2sus!4v1498437816406"></iframe><br /><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#8C8061;text-align:left;font-size:1em">View Larger Map</a></small>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>	
                </div>  
            </div>
        </div>
    </div>


</div>