<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorator="masterpages/page-w">


    <div layout:fragment="content">

        <section id="slider" class="slider">
            <div class="slider_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_slider text-center">
                            <div class="col-md-12">
                                <div class="main_slider_content wow zoomIn" data-wow-duration="1s">
                                    <h1>Bem-vindos</h1>
                                    <p>Procure por eventos culturais inclusivos para deficientes auditivos. </p>

                                    <!--button href="" class="btn-lg">Click here</button> -->
                                    <form th:action="@{/eventos/list}" class="input-group searchbar">
										<span class="input-group-addon">
											<a href="search.html"><i class="glyphicon glyphicon-search"></i></a>
										</span>
                                        <input type="text" class="form-control" placeholder="O que você procura?"/>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>


</div>