<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="masterpages/page">


    <div layout:fragment="precontent">       
        <!-- header-section-ends -->
        <div class="header-slider" id="home">
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">

                        <li>
                            <img th:src="@{/images/banner-02.jpg}" alt="" />
                            <div class="caption text-center">
                                <h3>Praticidade</h3>
                                <p>Reserve a quadra para seus treinos em poucos cliques</p>
                            </div>
                        </li>
                        <li>
                            <img th:src="@{/images/banner-04.jpg}" alt="" />
                            <div class="caption text-center">
                                <h3>Mirum est notare quam littera </h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
                            </div>
                        </li>
                        <li>
                            <img th:src="@{/images/banner-03.jpg}" alt="" />
                            <div class="caption text-center">
                                <h3>Mirum est notare quam littera </h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div layout:fragment="content">       
        <div class="welcome-section">
            <div class="container">
                <div class="col-md-6 welcome-grid text-center">
                    <h3>Welcome</h3>
                    <h5>Duis autem vel eum iriure dolor in hendrerit in vulputa</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. littera gothica.</p>
                </div>
                <div class="col-md-6 images">
                    <div class="img1">
                        <img src="images/a1.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="img2">
                        <img src="images/a2.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="about-section text-center">
            <div class="container">
                <h2>About</h2>
                <div class="col-md-6 about-section-grid text-left">
                    <h4>Mirum est notare quam littera </h4>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio</p>
                </div>
                <div class="col-md-6 about-section-grid text-left">
                    <h4>Mirum est notare quam littera </h4>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio</p>
                </div>
                <div class="clearfix"></div>
                <a href="" class="btn btn-1 btn-1c">read more</a>
            </div>
        </div>
        <div class="textimonials-section text-center">
            <div class="container">
                <img src="images/t.png" alt="" />
                <h5>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram</h5>
                <p>Duis autem vel eum iriure dolor</p>
                <a href="" class="btn btn-1 btn-1d">Read Testimonials</a>
            </div>
        </div>
    </div>


</div>